
body{
	background-color: #0e1111;
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

#request_device_orientation_permission{
	display:none;
}

.word1{
	position: relative;
	height: 100px;
	left: 100px;
}

.circle{
	position: relative;
	overflow: hidden;
}

.images{
	position: absolute;
	transform-origin: 50% 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>

/* Slideshow */
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
  --img_preview_current_location: 0px;
  --img_preview_end_location: 0px;
}

.img_center{
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row{
	position: absolute;
	height: 15%;
	width: 100%;
	bottom: 15%;
}

.row_inner{
	position: absolute;
	height: 66.67%;
	width: 100%;
	bottom: 0;
	padding-top: 10%;
	white-space: nowrap;
	overflow-x:auto;
}

.row_inner::-webkit-scrollbar {
  display: none;
}

/* Six columns side by side */
.column {
	position: relative;
  width: 21%;
  height: 100%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  overflow: hidden;
  border-radius: 10px;
  display:inline-block;
  vertical-align: top;
  opacity:0.6;
}

/* Add a transparency effect for thumnbail images */
.demo {
  position: absolute;
  opacity: 0.6;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  float: none;
  display: inline;
  vertical-align: top;
  opacity: 1;
}

.demo:hover {
  opacity: 1;
}

.active{
  opacity: 1;
  animation: thumbnail-selection 0.5s forwards;
  -webkit-animation: thumbnail-selection 0.5s forwards;
}

.not_active{
	opacity: 0.6;
	overflow: hidden;
	animation: thumbnail-deselection 0.5s forwards;
	-webkit-animation: thumbnail-deselection 0.5s forwards;
}

@keyframes thumbnail-selection {
0%{  transform: translateY(0px);  }
100% {  transform: translateY(-30%);  }
}
@-webkit-keyframes thumbnail-selection {
0%{  -webkit-transform: translateY(0px);  }
100% {  -webkit-transform: translateY(-30%);  }
}

@keyframes thumbnail-deselection {
0%{  transform: translateY(-30%);  }
100% {  transform: translateY(0px);  }
}
@-webkit-keyframes thumbnail-deselection {
0%{  -webkit-transform: translateY(-30%);  }
100% {  -webkit-transform: translateY(0px);  }
}

@keyframes image_preview_move_right {
0%{  left: var(--img_preview_current_location);  }
100% {  left: var(--img_preview_end_location);  opacity: 0;  }
}
@-webkit-keyframes image_preview_move_right {
0%{  left: var(--img_preview_current_location);  }
100% {  left: var(--img_preview_end_location);  opacity: 0;  }
}

@keyframes image_preview_move_left {
0%{  left: var(--img_preview_current_location);  }
100% {  left: var(--img_preview_end_location);  opacity: 0;  }
}
@-webkit-keyframes image_preview_move_left {
0%{  left: var(--img_preview_current_location);  }
100% {  left: var(--img_preview_end_location);  opacity: 0;  }
}

@keyframes image_preview_move_back_original_location {
0%{  left: var(--img_preview_current_location);  }
100% {  left: 0;  }
}
@-webkit-keyframes image_preview_move_back_original_location {
0%{  left: var(--img_preview_current_location);  }
100% {  left: 0;  }
}

@keyframes image_preview_appear_from_small {
0%{  height: 0;  width: 0;  }
100% {  height: 100%;  width: 100%;  }
}
@-webkit-keyframes image_preview_appear_from_small {
0%{  height: 0;  width: 0;  }
100% {  height: 100%;  width: 100%;  }
}